<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="https://localhost:44333\Images\logo-removebg-preview.png" alt="" height="50" width="70"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cars/getall">Araba Listesi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="brands/getall">Marka Listesi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="colors/getall">Renk Listesi</a>
          </li>
        </ul>
        <a class="btn btn-primary" *ngIf="isAuthenticated()==false" routerLink="/login">Giriş</a>
        <a class="btn btn-success" *ngIf="isAuthenticated()==false" 
        routerLink="/register" style="margin-left: 5px;">Kayıt ol</a>
        <div class="dropdown" *ngIf="isAuthenticated()==true">
          <button class="btn btn-secondary dropdown-toggle"
           type="button" id="dropdownMenuButton1" 
           data-bs-toggle="dropdown" aria-expanded="false" >
            {{currentUser?.firstName}} {{currentUser?.lastName}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="user/details/{{currentUser?.id}}">Hesap Bilgileri</a></li>
            <li><a class="dropdown-item" href="#" (click)="clearLocalStorage()" routerLink="/">Çıkış</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
