<h4></h4>
<div class="row">
  <div *ngFor="let car of cars" class="card" style="width: 25rem">
    <img
      src="{{ url }}{{car.carImages[0].imagePath}}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="float-start">Marka</span>
          <span class="float-end">{{ car.brandName }}</span>
        </li>
        <li class="list-group-item">
          <span class="float-start">Renk</span>
          <span class="float-end">{{ car.colorName }}</span>
        </li>
        <li class="list-group-item">
          <span class="float-start">Model</span>
          <span class="float-end">{{ car.modelYear }}</span>
        </li>
        <li class="list-group-item">
          <span class="float-start">Açıklama</span>
          <span class="float-end">{{ car.description }}</span>
        </li>
        <p class="card-text text-center h3 mt-3">₺{{ car.dailyPrice }}</p>
      </ul>
      <br />

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <a (click)="setCurrentCar(car)" class="btn btn-primary" 
          routerLink ="/cars/details/{{car.id}}"  >Araba Detayları</a>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>
