<div class="row">
    <div class="col-md-5" style="margin-top: 35px">
        <table class="table">
          <tbody>
            <tr class="table-active">
              <td>
                <span class="float-start">Marka Id</span>
                <span class="float-end">{{ car[0]?.brandId }}</span>
              </td>
            </tr>
            <tr class="table-active">
              <td>
                <span class="float-start">Araba</span>
                <span class="float-end">{{ car[0]?.carName }}</span>
              </td>
            </tr>
            <tr class="table-active">
              <td>
                <span class="float-start">Renk Id</span>
                <span class="float-end">{{ car[0]?.colorId }}</span>
              </td>
            </tr>
            <tr class="table-active">
              <td>
                <span class="float-start">Model</span>
                <span class="float-end">{{ car[0]?.modelYear }}</span>
              </td>
            </tr>
            <tr class="table-active">
              <td>
                <span class="float-start">Günlük Fiyat</span>
                <span class="float-end">₺{{ car[0]?.dailyPrice }}</span>
              </td>
            </tr>
            <tr class="table-active">
              <td>
                <span class="float-start">Açıklama</span>
                <span class="float-end">{{ car[0]?.description }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
        <div class="col-md-7">
            <div class="content">
                <div class="card" style="margin-top: 35px;">
                    <div class="card-header">Araba Güncelle</div>
                    <div class="card-body">  
                            <form [formGroup]="carUpdateForm">
                              <div class="mb-3">
                                <input
                                  type="number"
                                  id="brandId" 
                                  formControlName="brandId"
                                  class="form-control"
                                  placeholder="Yeni Marka Id-si"
                                  
                                />
                              </div>
                              <div class="mb-3">
                                <input
                                  type="number"
                                  id="colorId"
                                  formControlName="colorId"
                                  class="form-control"
                                  placeholder="Yeni Renk Id-si"
                                  
                                />
                              </div>
                              <div class="mb-3">
                                <input
                                  type="text"
                                  id="carName"
                                  formControlName="carName"
                                  class="form-control"
                                  placeholder="Yeni Araba İsmi"
                                  
                                />
                              </div>
                              <div class="mb-3">
                                <input
                                  type="text"
                                  id="modelYear"
                                  formControlName="modelYear"
                                  class="form-control"
                                  placeholder="Yeni Model"
                                  
                                />
                              </div>
                              <div class="mb-3">
                                <input
                                  type="number"
                                  id="dailyPrice"
                                  formControlName="dailyPrice"
                                  class="form-control"
                                  placeholder="Yeni Günlük Fiyat"
                                  
                                />
                              </div>
                              <div class="mb-3">
                                <input
                                  type="text"
                                  id="description"
                                  formControlName="description"
                                  class="form-control"
                                  placeholder="Yeni Açıklama"
                                  
                                />
                              </div>
                              
                            </form>
                          
                    </div>
                    <div class="card-footer"><button class="btn btn-primary" (click)="update()">Güncelle</button></div>
                </div>
            </div>
            
        </div>
        
  
  
</div>
